*.ncb
*.suo
*.old
*.user
*.sdf
*.pdb
*.o
*.d
*.vcproj.*
*.opensdf
*.tar.gz
*.log
*.out
*.exe
*.vcxproj.filters
*.zip*
*.7z
*.dll
*.tar*
*.gz*
*.ilk
*.bz2
ipch
/Debug
/Debug (SDL)
/Debug-nettool
/Release
/Release (SDL)
/build
/config.*
/intermediates
/makeobj/makeobj
*sim
/binaries
/save
/screenshot
/maps
Pak*
pak*
PAK*
settings.xml
/simutrans-experimental
Simutrans-Experimental.exe
_UpgradeReport_Files*
*.*~
*~
/.build
*.orig
*.rej
/simutrans/*pak*
/simutrans/pak*
/simutrans/text
*.bdf
/ipch/*
*.*sdf
*.diff
*.patch
*.log
/doxygen
/libs
*.lnk
*.pak
/Default
/x64
/zlib*
*server*-network.sve