*.ncb
*.suo
*.vcproj.*
/Debug
/Release
/build
/config.*
/makeobj/makeobj
/makeobj/makeobj.exe
*sim
/sim.exe
*.*~
*~
/.build
*.orig
*.rej
/simutrans/*pak*
/simutrans/pak*
/simutrans/text
*.bdf
*.zip
*.vcxproj
*.vcxproj.*
/ipch/*
*.*sdf
*.diff
*.patch
*.log
/doxygen
