*.ncb
*.suo
*.old
*.user
*.sdf
*.pdb
*.o
*.d
*.vcproj.*
*.opensdf
*.tar.gz
*.log
*.out
*.exe
*.vcxproj.filters
*.zip*
*.7z
*.dll
*.tar*
*.gz*
*.ilk
*.bz2
*.obj
ipch
/Debug
/Debug (SDL)
/Debug-nettool
/Release
/Release (SDL)
/build
/config.*
/intermediates
/makeobj/makeobj
*sim
/binaries
/save
/screenshot
/maps
Pak*
pak*
PAK*
settings.xml
/simutrans-experimental
Simutrans-Experimental.exe
_UpgradeReport_Files*
*.*~
*~
/.build
*.orig
*.rej
/simutrans/*pak*
/simutrans/pak*
*.bdf
/ipch/*
*.*sdf
*.diff
*.patch
*.log
/doxygen
/libs
*.lnk
#*.pak
/Default
/x64
/zlib*
*server*-network.sve
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Language files to be added eventually:
text/cz
text/de
text/dk
#text/en
text/es
text/fr
text/hr
text/hu
text/it
text/ja
text/nl
text/pl
text/pt
text/ro
text/ru
text/sk
text/sv
text/zh


# Folders:
music/
script/
pak*/
text/citylists/


# Files:
/*.*
simctrl
envvars
text/*.*
text/en/Simutrans-Experimental.vcxproj.lnk
text/all-help-file-names

/Simutrans-Ex/nbproject/private/