/*
* This file is part of the Simutrans-Extended project under the Artistic License.
* (see LICENSE.txt)
*/

/* ICON and Version info for Simutrans Windows */

#include <windows.h>
#include "simversion.h"

100 ICON "simutrans-ex.ico"


1 VERSIONINFO
FILEVERSION    RES_VERSION_NUMBER
PRODUCTVERSION RES_VERSION_NUMBER
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "CompanyName",      "Simutrans-Extended Team"
   VALUE "FileDescription",  "Simutrans-Extended"
   VALUE "FileVersion",      VERSION_NUMBER EXTENDED_VERSION
   VALUE "InternalName",     "SIMUTRANS"
   VALUE "LegalCopyright",   "\251 Hj. Malthaner '97-'04 Simutrans-Extended Team '05-'16"
   VALUE "OriginalFilename", "simutrans-extended.exe"
   VALUE "ProductName",      "Simutrans-Extended"
   VALUE "ProductVersion",   VERSION_NUMBER EXTENDED_VERSION
  }

 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 2057, 1252, 1031, 1252, 1035, 1252, 1036, 1252, 1034, 1252, 1038, 1252, 1043, 1252
 }

}

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "Simutrans.manifest"