/* ICON and Version info for Simutrans Windows */


100 ICON "simutrans.ico"


1 VERSIONINFO
FILEVERSION 0, 88, 02, 1
PRODUCTVERSION 0, 88, 02, 1
{
 BLOCK "StringFileInfo"
 {
  BLOCK "040904E4"
  {
   VALUE "CompanyName", "Simutrans Team\000"
   VALUE "FileDescription", "Simutrans\000"
   VALUE "FileVersion", "0.88.02.1\000"
   VALUE "InternalName", "SIMUTRANS\000"
   VALUE "LegalCopyright", "\251 Hj. Malthaner '97-'04 Simutrans Team '05-06\000"
   VALUE "OriginalFilename", "SIMUTRANS.EXE\000"
   VALUE "ProductName", "Simutrans\000"
   VALUE "ProductVersion", "0.88.02.1\000"
  }

 }

 BLOCK "VarFileInfo"
 {
  VALUE "Translation", 2057, 1252, 1031, 1252, 1035, 1252, 1036, 1252, 1034, 1252, 1038, 1252, 1043, 1252
 }

}
