name: Nightly build Ubuntu

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: install_dependencies
      run: |
        sudo apt-get -y update
        sudo apt-get -ym install libsdl2-dev
        sudo apt-get -ym install libfreetype6-dev
        sudo apt-get -ym install libminiupnpc-dev
        sudo apt-get -ym install libbz2-dev
        sudo apt-get -ym install autoconf

    - name: setup
      run: |
        autoconf
        ./configure
        echo "FLAGS = -DREVISION=$(svn info --show-item revision svn://servers.simutrans.org/simutrans) " >>config.default
        echo "STATIC = 1" >>config.default
        cat config.default >>/dev/stderr

    - name: make
      run: make

    - name: distribute
      run: sh tools/distribute.sh

    - name: Rename result
      run:  mv simu*.zip simulinux-x64-nightly.zip

    - name: Update binaries of Nightly Release
      uses: svenstaro/upload-release-action@v1-release
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: ./simulinux-x64-nightly.zip
        asset_name: simulinux-x64-nightly.zip
        tag: Nightly
        overwrite: true

